body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0a0a0f;
  color: #d0d8ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d1b2a;
  padding: 15px 40px;
}

.logo {
  font-size: 1.5em;
  color: #00aaff;
}

.logo span {
  color: #d0d8ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #d0d8ff;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #00aaff;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero .profile-pic {
  width: 250px;
  border-radius: 50%;
  border: 3px solid #00aaff;
}

.hero h2 span {
  color: #00aaff;
}

.about, .skills, .portfolio, .contact {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

.skill-bar {
  margin: 10px 0;
}

.bar {
  background: #1b263b;
  border-radius: 20px;
  overflow: hidden;
}

.fill {
  height: 10px;
  background: #00aaff;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #1b263b;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #0d1b2a;
}

td a{
    text-decoration: none;
    color: #fff;
}

td a:visited{
    color: #9f9c9c;
}

th {
  background: #0d1b2a;
  color: #00aaff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, textarea, button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #1b263b;
  color: #d0d8ff;
}

button {
  background: #00aaff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0088cc;
}

footer {
  text-align: center;
  padding: 15px;
  background: #0d1b2a;
  color: #d0d8ff;
}

footer a {
  color: #00aaff;
  text-decoration: none;
}

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .hero {
    padding: 50px 10px;
  }
  .profile-pic {
    width: 100px;
    object-fit: cover;
  }
}
